In [1]:
#get mean median from csv
import pandas as pd

df = pd.read_csv('yearly_team_stats_combined_filtered.csv')
df.head()

,team,season,season_type,total_off_yards,pass_attempts,complete_pass,incomplete_pass,passing_yards,air_yards,receiving_yards,...,rush_snaps_def,pass_snaps_def,average_solo_tackle,average_assist_tackle,average_tackle_with_assist,average_sack,average_qb_hit,average_def_touchdown,rush_pct_def,pass_pct_def
0,ARI,2012,REG,4587,587.0,337.0,250.0,3383.0,4862.0,3383.0,...,488,535,45.687500,7.500000,2.625000,2.375000,5.250000,0.250000,0.47,0.51
1,ATL,2012,POST,894,74.0,54.0,20.0,646.0,920.0,646.0,...,57,60,43.111111,7.388889,1.388889,1.777778,4.111111,0.111111,0.49,0.51
2,ATL,2012,REG,6116,601.0,422.0,179.0,4719.0,5004.0,4719.0,...,407,581,43.111111,7.388889,1.388889,1.777778,4.111111,0.111111,0.41,0.59
3,BAL,2012,POST,1679,126.0,73.0,53.0,1140.0,1541.0,1140.0,...,127,187,43.400000,13.700000,8.050000,2.300000,5.400000,0.150000,0.40,0.59
4,BAL,2012,REG,5897,549.0,334.0,215.0,3996.0,5498.0,3996.0,...,486,593,43.400000,13.700000,8.050000,2.300000,5.400000,0.150000,0.45,0.55

In [ ]:
print(df.total_off_yards.mean())
print(df.total_yards.mean())
print(df.rush_snaps_def.mean())
print(df.receiving_yards.mean())
print(df.average_solo_tackle.mean())
print(df.average_sack.mean())

4404.070446735395
7417.017182130584
316.28350515463916
3012.946735395189
39.26252600877573
2.419785444171037